@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: roboto;
  margin: 0;
  padding: 0;
}


body {
  height: 100%;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.wrapper {
  display: grid;
}

header {
  color: aliceblue;
  text-align: center;
  background-color: darkcyan;
  margin: 0%;
}



h1 {
  text-align: center;

}

h2 {
  color: blue;
  text-align: center;
  background-color: aliceblue;
}

h3 {
  color: aliceblue;
  text-align: center;
  background-color: darkcyan;
  text-indent: 50px;
}

h4 {
  color: blue;
  background: aliceblue;
}

h5 {
  color: aliceblue;
  text-indent: 50px;
}

p {
  color: black;
  text-align: center;
  font-size: 18px;
  background: aliceblue;
}

form {
  text-align: center;
  background-color: darkcyan;
}

#body {
  background-image: url(https://bingosafari-openlocal.codio.io/body.png);
  background-color: red;
  background-size: cover;
  border-style: hidden;
  min-height: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20;
  padding-bottom: 100px;
  overflow: auto;
}

main {
  padding-top: 32px;
  min-height: 100%;
  padding-bottom: 100px;
  overflow: auto;
  margin: 30px;
}

img {
  float: right;
  height: 150px;
  width: 150px;
}

.grid {
  grid-row: 60px;
  display: grid;
}

footer {
  font-size: 18px;
  padding-top: 300px;
  text-align: center;
  position: relative;
  height: 100px;
  margin-top: 100px;
}

.wrapper {
  grid-column: auto;
  grid-template-columns: auto;
  background-color: lightblue;
}

.contact {
  background: aliceblue;
}
